
.text {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Nerko One', cursive;
} 
.bg-red {
    background-color: red;
}
.button {
    padding: 20px;
    margin: 0px 10px;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    width: 65px;
    background: none;
    color: black;
    transition: 0.8s;
}

.button:hover {
    color: aqua;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 5px 0px;

}

.input {
    margin: 0;
    padding: 8px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 25px;
}